.flex{
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
}
.hd_img{
    width: 100%;
    height: 100%;
   
}
.header{
   
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
   
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800px;
   
    
}

.hd_btn{
    background: #FF6C1A;
    color: white;
    padding: 8px;
    border-radius:5px;

}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hd_li{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.hd_li a:hover{
    color:#FF6C1A;
    text-decoration: solid 2px; 
}